<div class="container">
    <img src="../../assets/images/bg.jpeg" alt="background image" style="width:100%;">
    <div class = "progress-bar-container">
    </div>
    <div class = "question-container">
        <p>Choose a word</p>
            <div class="row">
        <div class="col-6 col-sm-4">
            <button (click)= "data('Internet')" class = "btn margin">Internet</button>
            <button (click)= "data('Data')" class = "btn2 margin" >Data</button></div>
        <!-- <div class="w-100 d-none d-md-block"></div><br> -->
    
        <div class="col-6 col-sm-4">
            <button (click)= "data('System')" class = "btn margin" >System</button>
            <button (click)= "data('Application')" class = "btn2 margin" >Application</button></div>
        </div>
        </div>

    </div>