@media screen and (max-width: 480px) {
    .centered {
      color: white;
      font-family: "Neue Haas Grotesk Display Pro";
      font-style: normal;
      height: 60vh;
      width: 100vw;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
      background-image: url("../../assets/images/bg.jpeg");
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
  @media screen and (min-width: 480px) {
    .centered {
      color: white;
      font-family: "Neue Haas Grotesk Display Pro";
      font-style: normal;
      height: 100vh;
      width: 100vw;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
      background-image: url("../../assets/images/bg.jpeg");
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

.text-center{
        text-align: center;
        font-size: 24px;
        color: white;
        font-weight: 400;
}

.inputText{
    font-size: 35px;
    font-weight: bold;
}

.inputText2{
    margin-top: -20px;
    font-size: 22px;
}

.question{
    color: white;
}

.dropdown-container{
    min-width: 100px;
    border-radius: 50em;
    background-color: black;
    opacity: 1;
    border: 2px solid transparent;
    color: rgb(255 255 255 / var(--tw-text-opacity));
    background: linear-gradient(#141923,#141923) padding-box,linear-gradient(to right,#7b72cc,#dc0078,#3871d6) border-box;
  
}

.dropdown {
    background: linear-gradient(#141923,#141923) padding-box,linear-gradient(to right,#7b72cc,#dc0078,#3871d6) border-box;
    border-radius: 50em;
    border: 2px solid transparent;
    min-width: 320px;
    padding: 10px;
    z-index: 999;
    position: relative;
    color: white;
    font-size: 15px;
}

.dropdown-items{
    background: #000000;
    border-radius: 0 0 52.5px 52.5px;
    position: relative;
    top: -14px;
    z-index: 0;
    height: 0px;
    transition: all .2s;
    overflow: auto;
    color: white;
    font-size: 19px;
    cursor: pointer;
}