<div class="container">
    <div class="centered">
        <div class="text-center">
            <p class="inputText">What is Blockchain Technology?</p>
        </div>
        <div class="circle-container">
            <img [src]="userProfile" alt="Photo">
        </div>
        <div class="block">
            Blockchain is a decentralized ledger system that provides secure storage and recording of transactions and
            information. It operates on a network of interconnected nodes, where each node holds a copy of the database
            and participates in verifying transactions. The transactions are then added to the ledger as blocks, forming
            a chain, creating a secure and tamper-proof record of data. Blockchain technology has various potential
            applications, such as financial transactions, supply chain management, and voting systems, offering a secure
            and efficient solution for the transfer and storage of information and assets.
        </div>
    </div>
</div>