<div class="container">
    <img src="../../assets/images/bg.jpeg" alt="background image" style="width:100%;">
    <div class="progress-bar-container">
    </div>
    <div class="question-container">
        <p>Pick the closest word to</p><br>
        <p>{{word3}}</p>
        <div class="row">
            <div class="col-6 col-sm-4">
                <button (click)="data4('Visualization')" class="btn2 margin">Visualization</button>
                <button (click)="data4('Hardware')" class="btn2 margin">Hardware</button>
            </div>
            <div class="w-100 d-none d-md-block"></div><br>

            <div class="col-6 col-sm-4">
                <button (click)="data4('Infrastructure')" class="btn2 margin">Infrastructure</button>
                <button (click)="data4('Cloud')" class="btn2 margin">Cloud</button>
            </div>
        </div>
    </div>

</div>