@media screen and (max-width: 480px) {
  .centered {
    color: white;
    font-family: "Neue Haas Grotesk Display Pro";
    font-style: normal;
    height: 60vh;
    width: 100vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-image: url("../../assets/images/bg.jpeg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width: 480px) {
  .centered {
    color: white;
    font-family: "Neue Haas Grotesk Display Pro";
    font-style: normal;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-image: url("../../assets/images/bg.jpeg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.circle-container {
  border-radius: 1.2vh;
  background-color: #272727;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 40px;
  gap: 30px;
}
.circle-container img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: grey;
}
.rotate {
  animation: rotation 4s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.user {
  font-size: 30px;
  color: white;
}
.nextBtn {
  margin-top: 25px !important;
  width: 155px !important;
  height: 45px !important;
  border-radius: 43.48px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #9e9e9e;
  color: white;
  cursor: pointer;
}
.box2 {
  margin-top: 10px !important;
}
.roomCode {
  font-family: "Neue Haas Grotesk Display Pro";
  font-style: normal;
  font-size: 30px;
  line-height: 8px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  font-weight: 500;
}
.playerRoom {
  font-weight: 450;
  font-size: 20px;
  color: #9e9e9e;
  border-radius: 12px;
  background: black;
  height: 45px;
  width: 300px;
  padding-left: 10px;
  border-radius: 10px;
  background: linear-gradient(#141923, #141923) padding-box,
    linear-gradient(to right, #7b72cc, #dc0078, #3871d6) border-box;
  border: 2px solid transparent;
}
button.enabled {
  background-color: black;
  opacity: 1;
  border: 2px solid transparent;
  color: white;
  background: linear-gradient(#141923, #141923) padding-box,
    linear-gradient(to right, #7b72cc, #dc0078, #3871d6) border-box;
}