<div class="container">
    <img src="../../assets/images/bg.jpeg" alt="background image" style="width:100%;">
    <div class="progress-bar-container">
    </div>
    <div class="question-container">
        <p>Pick the closest word to</p><br>
        <p>{{word1}}</p>
        <div class="row">
            <div class="col-6 col-sm-4">
                <button (click)="data2('Network')" class="btn margin">Network</button>
                <button (click)="data2('Cloud')" class="btn2 margin">Cloud</button>
            </div>
            <!-- <div class="w-100 d-none d-md-block"></div><br> -->

            <div class="col-6 col-sm-4">
                <button (click)="data2('Service')" class="btn margin">Service</button>
                <button (click)="data2('Social Media')" class="btn2 margin">Social media</button>
            </div>
        </div>
    </div>

</div>