<div class="container">
    <img src="../../assets/images/bg.jpeg" alt="background image" style="width:100%;">
    <div class="progress-bar-container">
    </div>
    <div class="question-container">
        <p>Pick the closest word to</p><br>
        <p>{{word2}}</p>
        <div class="row">
            <div class="col-6 col-sm-4">
                <button (click)="data3('Computing')" class="btn margin">Computing</button>
                <button (click)="data3('Platform')" class="btn2 margin">Platform</button>
            </div>
            <!-- <div class="w-100 d-none d-md-block"></div><br> -->

            <div class="col-6 col-sm-4">
                <button (click)="data3('Storage')" class="btn margin">Storage</button>
                <button (click)="data3('Network')" class="btn2 margin">Network</button>
            </div>
        </div>
    </div>

</div>